@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.App-header {
  background-color: #448AFF;
  height: 80px;
  padding: 20px;
  font-family: 'Permanent Marker', cursive;
  color: #FFFFFF;
  text-align: center;
  font: 2rem;
  margin-bottom: 15px;
}

.buttonDivStyle {
  text-align: center;
}

button {
  margin: 15px 5px;
}

button:hover {
  background-color: rgb(207, 197, 197);
}